body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  font-weight: normal !important;
}

h1,
#name {
  color: #ecf0f1;
  display: inline;
}

h2 {
  color: #9b9b9b !important;
  font-size: 24px !important;
  margin-top: 10px !important;
}

h3 {
  font-style: italic;
  font-size: 18px !important;
  padding-bottom: 0 !important;
  color: #333;
}

h4 {
  color: #4a4a4a;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;
}

p {
  color: #444;
  font-size: 16px !important;
}

a {
  color: #3498db;
  font-size: 16px !important;
  text-decoration: none;
  display: block;
}

img {
  padding: 10px;
  vertical-align: top !important;
}

span {
  padding: 5px;
  font-size: 16px !important;
}

ul {
  list-style-type: none;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
}

.red {
  background-color: #e74c3c;
}

.red-text {
  color: #e74c3c;
}

.white-text {
  color: #f3f3f3 !important;
}

.gray {
  background-color: #f9f8f6;
  padding-top: 5px;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background: url('../images/chalkboard-background.jpg');
}

#header {
  background: url('../images/chalkboard-background.jpg');
  padding-bottom: 30px;
}

.center-content {
  padding: 2.5% 5%;
}

.clear-fix {
  overflow: auto;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}

/* id to display role under the name at screen sizes below 480px */
#role {
  color: #e74c3c;
}

.biopic {
  float: left;
  padding-right: 20px;
  width: 175px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px !important;
  font-weight: 300;
  line-height: 36px;
}

#skills-h3 {
  color: #e74c3c;
  display: block;
  margin-top: 0;
}

/* id to better align the list at screen sizes below 320px */
#skill-list {
  color: #000;
}

.navbar-header {
  background-color: #f9f8f6;
}

.navbar-toggle .icon-bar {
  padding: 1px !important;
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  color: #337ab7 !important;
  text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #9b9b9b !important;
  background-color: #e7e7e7 !important;
}

#navbar-moz {
  padding: 0 4%;
  margin-bottom: 0;
}

/* 2 new divs for project sub-sections */
.education-entry,
.work-entry,
#projects,
#past-projects {
  padding: 0 5% 10px 5%;
  line-height: 20px;
}

.date-text {
  font-style: italic;
  color: #9b9b9b;
  float: left;
}

.location-text {
  font-style: italic;
  color: #9b9b9b;
  float: right;
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 500px;
  width: 100%;
  padding-bottom: 10%;
}

#lets-connect {
  text-align: center;
  padding-bottom: 5%;
}

/* Floating back-to-top button */
#toTop{
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  background-color: #337ab7;
  padding: 15px !important;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width: 750px) {
  .welcome-message {
    display: block;
  }
}

@media only screen and (min-width: 750px) {
  .navbar-brand {
    display: none;
  }
  .navbar-nav {
    float: none !important;
    display: flex !important;
  }
  .nav > li {
    display: flex;
    flex-grow: 1;
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  #name,
  #role {
    display: block;
    padding-top: 0;
  }
  .welcome-message {
    line-height: 26px;
    padding-right: 10%;
  }
  img {
    max-width: 100%;
  }
  #lets-connect {
    margin-top: 20%;
  }
}

/* Media query for min-width:480px to simulate responsive images in the Projects section. The “project-entry" divs are inside the “projects” div as before, but the section heading is now inside its own “projectSection” div to keep it separate from this workaround. In addition, a new "past-project-entry" class is now inside its own “past-projects” div. */

@media only screen and (min-width: 480px) {
  .project-entry {
    display: inline-block;
    width: 50%;
    padding-right: 5%;
    vertical-align: top;
  }
  img {
    width: 100%;
  }
  .past-project-entry img {
    max-width: 25%;
  }
}

/* Media query for my own iPhone */

@media only screen and (max-width: 320px) {
  .biopic {
    width: 150px;
    padding-right: 20px;
  }
  #skills-h3 {
    clear: left;
  }
  #skill-list {
    padding-left: 8px;
  }
  #mapDiv {
    height: 250px;
  }
  #lets-connect {
    margin-top: 30%;
  }
}